* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 10px;
    color: white;
}

ul {
    list-style: none;
}

.name-title {
    height: 199;
}

.container {
    position: relative;
}
  
.content {
    position: relative;
    z-index: 1;
}