* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 10px;
    color: white;
}

ul {
    list-style: none;
}

.section-title {
    position: relative;
  }
  
.section-title::before {
    margin: auto;
      content: '';
      position: absolute;
      width: 300px;
      height: 3px;
      border-radius: 3px;
      background-color: White;
      bottom: 0;
      left: 0;
      transform-origin: center;
      transform: scaleX(0);
      transition: transform .1s ease-in-out;
    }
  
.section-title:hover::before {
    margin: auto;
    transform-origin: center;
    transform: scaleX(1);
  }

.section-title {
    font-size: 1.5em;
}

.container {
    position: relative;
}
  
.content {
    position: relative;
    z-index: 1;
}

@keyframes blinker {
    50% { opacity: 0.0; }
  }

.section-title {
    width: 300px;
}

.main-header {
    height: 100px;
    text-align: center;
}

.name-title {
    height: 200;
    text-align: center;
}


.skills-list {
    margin: auto;
    text-align: center;
    width: 400px;
}

.container {
    margin: auto;
    text-align: center;
}

.title {
    margin: auto;
    text-align: center;
}